@charset "UTF-8"
*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: rgb(212, 233, 226);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
}

.pneus {
    background-color: aquamarine;
    margin:auto;
    max-width: 500px;
}

.precos {
    background-color: rgb(169, 174, 241);
}

footer{
    text-align: center;
}